#just incase these get added in testing


#TEMP TEMP
imagemanager


phpmyadmin
datab0w3ls
tools/excel

#logs
errors.txt
sniff_out.txt
sniffout.txt

#install specifics

mhs-api/.env

customizations/
projects/

publications/pub/schema

#wordpress stuff
wp-admin
wp-content
wp-includes
wp*.php
xmlrpc.php
./index.php

!install/server-configs/wp-config.php


#legacy development stuff
syncwpfiles.sh
install/server\ test\ install\ notes.txt

