	<template id="authorRecipient">

		<div class="authors" v-if="authors.length">
			<h3>Author{{authors.length == 1? "" : "s"}}</h3>
			<div class="name" v-for="name in authors" tabindex="0" @click="toggleName" @keyup.enter="toggleName">
				<a class="displayName">{{name.displayName}}
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
					</svg>
				</a>
				<div class="nameDetails">
					<div class="dates">{{name.birthDate}}&#8212;{{name.deathDate}}</div>
					<div class="description">{{name.descriptions}}</div>
				</div>
			</div>
		</div>

		<div class="recipients" v-if="recipients.length">
			<h3>Recipient{{recipients.length == 1? "" : "s"}}</h3>
			<div class="name" v-for="name in recipients" tabindex="0" @click="toggleName" @keyup.enter="toggleName">
				<a class="displayName">{{name.displayName}}
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
					</svg>
				</a>
				<div class="nameDetails">
					<div class="dates">{{name.birthDate}}&#8212;{{name.deathDate}}</div>
					<div class="description">{{name.descriptions}}</div>
				</div>
			</div>
		</div>

	</template>

