


.closeButton {
	cursor: pointer;
    position: absolute;
    right: 2rem;
    top: .5rem;
    font-size: 24px;
}

.q-tooltip {
	max-width: 400px !important;
}

.inline {
	display: inline-block;
}

.helpTool {
	display: inline-block;
}


.expandedRow {
	background: #dfd2e6;

	label {
		padding-top: 0;
	}
}

.docManager {

	.detailsTitle {
		font-weight: bold;
	}
	.detailsTitle:after {
		content: ": ";
	}



	.step {
		display: inline-block;
		background: rgb(230, 230, 230);
		cursor: pointer;

		.status {
			display: inline-block;
			height: 22px;
			width: 22px;
			margin: 4px;
			vertical-align: middle;
		}
	}

	.stepArrow {
		display: inline-block;
		content: "";
		width: 0; 
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 15px solid #e6e6e6;
		margin-right: 0.5rem;
		vertical-align: top;
	}

	.notes {
		border: 1px solid #a0a0a0;
		border-radius: 4px;
	}

	.q-table tbody td {
		max-width: 33vw;
	}
}


.stepManager {

	.step {
		border-radius: 3px;
		border: 1px solid #e0e0e0;
		background: #f3f3f3;
		overflow: hidden;
		margin-bottom: 8px;

		label {
			float: left;
			line-height: 3.4;
			background: #bdbfbd;
			font-size: 24px;
			padding: 0 1rem 0;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		h2 {
			font-size: 24px;
			line-height: 1.5;
			margin: 0;
			padding-left: 4rem;

			span {
				font-size: 16px;
			}
		}

		p {
			font-size: 14px;
			padding-left: 4rem;
			color: #676767;
		}
	}

	.step:hover {
		background: white;
		cursor: pointer;
	}

	.step.editing {
		border: 1px solid red;
	}
}




.documentManager {

	.document {
		
	}

}