.p-1{
    padding: 1rem 1rem 0;
}

.p-2{
    padding: 2rem
}

.p-4{
    padding: 4rem;
}

.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-0{
    padding-top:  0;
    padding-bottom: 0;
}

.pt-3{
    padding-top:  3rem;
}
.my-1{
    margin-top:  1rem;
    margin-bottom: 1rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.m-0{
    margin: 0;
}

.my-0{
    margin-top: 0;
    margin-bottom: 0;
}

